<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Cancer Detection</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <div id="root">
    <img src="{{ url_for('static', filename='no_bg.png') }}" class="logo">
    <h1>Skin Cancer Detection</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="fileInput">Upload an Image : </label>
        <label class="custom-file-upload" >
          <input type="file" id="fileInput" name="file1" required />
          Choose
        </label>
      </div>
      <div id="preview-section" style="display: none; margin-top: 15px; margin-bottom: 15px;">
        <h3>Image Preview:</h3>
        <img id="imagePreview" src="" alt="Image Preview" style="max-width: 50%; border: 1px solid #ccc; border-radius: 8px; height: 250px; width: 250px;" />
      </div>
      <button type="submit">Upload</button>
    </form>

    {% if prediction %}
      <div class="success" id="feedback">
        {{ prediction  }}
        {% if prediction[-1] == '0' %}
          [Cancer]
        {% else %}
          [Lesion]
        {% endif %}
      </div>
    {% endif %}

    {% if gradcam_image %}
      <h2>Grad-CAM Visualization</h2>
      <img src="{{ gradcam_image }}" alt="Grad-CAM Result" class="gradcam-image"/>
    {% endif %}

    {% if file_path %}
      <h2>Original Image</h2>
      <img src="{{ file_path }}" alt="Original Image" class="og-image" height="200px" width="200px"/>
    {% endif %}

    {% if error %}
      <div class="error" id="feedback">{{ error }}</div>
    {% endif %}
  </div>
</body>

<script>
  document.getElementById('fileInput').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        const previewSection = document.getElementById('preview-section');
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.src = e.target.result;
        previewSection.style.display = 'block';
      };
      reader.readAsDataURL(file);
    }
  });
</script>

</html>
